
MYSQL_BHIT_DATABASE=bhit_index
MYSQL_GEOCASE_DATABASE=geocase_portal
MYSQL_USER=geocase_user
MYSQL_PASSWORD=yourDatabasePassword
MYSQL_ROOT_PASSWORD=yourRootDatabasePassword

DOCKER_BHIT_PORT=8080
DOCKER_DATABASE_PORT=3306
DOCKER_GEOCASE_PORTAL_PORT=80
